@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

section#show-mood {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
section#show-mood div.show-mood-component {
  width: 40vw;
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #fff;
  color: #68466f;
  font-size: 1.2em;
}
