@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

html {
  background-color: #a882b1;
  background-image: url(https://64.media.tumblr.com/162cc3dfa5cef6c882aba5453445f0fb/tumblr_mx3y1yYFad1qcm0eto1_1280.png);
  font-size: 16px;
  text-align: center;
}

* {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

div.App {
  width: 100vw;
  overflow: scroll;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

p#delete-entries {
  position: fixed;
  bottom: -10px;
  color: rgb(94, 13, 13);
  font-weight: 600;
}
p#delete-entries:hover {
  cursor: pointer;
}
